$azul: #303952;
$branco: #fff;
$cinza: #e6e6e6;
$cinza2: #7e7c7c;
$vermelho: #c70011;
$vermelho2: #ff4959;
$vermelho3: #842029;


:root {
    --breadcrumb-theme-1: #f94757;
    --breadcrumb-theme-2: #fff;
    --breadcrumb-theme-3: #ce3845;
    --breadcrumb-theme-4: #c70041;
}

body {
    background-color: #e8fde3;
}

.content-success {
    .breadcrumb {
        text-align: center;
        display: inline-block;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        border-radius: 5px;
        counter-reset: flag;
        margin-top: -3.7em !important;
        margin-left: em !important;
        position: absolute;
        background-color: #fff !important;
        width: 100% !important;
    }

    .breadcrumb__step {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 36px;
        padding: 0 10px 0 60px;
        position: relative;
        background: var(--breadcrumb-theme-2);
        color: var(--breadcrumb-theme-1);
        transition: background 0.5s;
    }

    .breadcrumb__step:first-child {
        padding-left: 46px;
        border-radius: 5px 0 0 5px;
    }

    .breadcrumb__step:first-child::before {
        left: 14px;
    }

    .breadcrumb__step:last-child {
        border-radius: 0 5px 5px 0;
        padding-right: 20px;
    }

    .breadcrumb__step:last-child::after {
        content: none;
    }

    .breadcrumb__step::before {
        content: counter(flag);
        counter-increment: flag;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 8px 0;
        position: absolute;
        top: 0;
        left: 30px;
        font-weight: bold;
        background: var(--breadcrumb-theme-2);
        box-shadow: 0 0 0 1px var(--breadcrumb-theme-1);
    }

    .breadcrumb__step::after {
        content: '';
        position: absolute;
        top: 0;
        right: -18px;
        width: 36px;
        height: 36px;
        transform: scale(0.707) rotate(45deg);
        z-index: 1;
        border-radius: 0 5px 0 50px;
        background: var(--breadcrumb-theme-2);
        transition: background 0.5s;
        box-shadow: 2px -2px 0 2px var(--breadcrumb-theme-4);
    }

    .breadcrumb__step--active {
        color: var(--breadcrumb-theme-2);
        background: var(--breadcrumb-theme-1);
    }

    .breadcrumb__step--active::before {
        color: var(--breadcrumb-theme-1);
    }

    .breadcrumb__step--active::after {
        background: var(--breadcrumb-theme-1);
    }

    .breadcrumb__step:hover {
        color: var(--breadcrumb-theme-2);
        background: var(--breadcrumb-theme-3);
    }

    .breadcrumb__step:hover::before {
        color: var(--breadcrumb-theme-1);
    }

    .breadcrumb__step:hover::after {
        color: var(--breadcrumb-theme-1);
        background: var(--breadcrumb-theme-3);
    }


    .heading {
        font-size: 20px;
        font-weight: 600;
        color: #3D5AFE;
    }

    .line1 {
        color: #000;
        font-size: 12px;
    }

    .line2 {
        color: #000;
        font-size: 12px;
    }

    .line3 {
        color: #000;
        font-size: 12px;
    }

    .cards {
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .cards:hover {
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.1);
    }

    .alert {
        background-color: #c8f7c5;
        border: none;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
    }

    .icone-success {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -35px;
        margin-top: -0.35em;
        z-index: 1000000000000000100 !important;
        border-radius: 50%;
        color: #4daf7c;
        background-color: #fff;
    }
}