@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: 'Nunito', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 196, 196); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c70011; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #810a14; 
}

.font-light {
  font-weight: 300 !important;
  font-family: 'Nunito', sans-serif !important;
}

.font-bold {
  font-weight: 500 !important;
  font-family: 'Nunito', sans-serif !important;
}

.font-book {
  font-weight: 400 !important;
  font-family: 'Nunito', sans-serif !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.font-size-48 {
  font-size: 48px !important;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

main {
  margin-top: 4em;
  grid-area: main;
}

div.ReactModalPortal {
  position: relative !important;
  z-index: 9999999999 !important;
}

div.ReactModal__Overlay--after-open {
  background-color: rgb(0 0 0 / 79%) !important;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #203040;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: transform 0.3s ease-in-out !important;
  text-decoration: none !important;

  a {
    text-decoration: none !important;
  }

  li {
    flex: 0 1 calc(33.33% - 4.7rem);
    height: 30rem;
    padding: 1rem;
    border: 1px solid #dddddd !important;
    margin: 15px 15px 10px 10px;
    transition: all 0.3s ease-in-out !important;
    border-radius: 7px;

    & .footer-card {
      background-color: #d0d0d0;
      height: 50px !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-bottom: -5px;
      margin-left: -16px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      & div {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));

        button {
          background-color: #FFF !important;
          border: none !important;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-top: 2.25px;
          transition: all 0.3s ease-in-out !important;

          i {
            color: #646464;
          }

          &:hover {
            background-color: red !important;
            transition: all 0.3s ease-in-out !important;
            color: #FFF !important;
            border-radius: 35%;

            i {
              color: #FFF !important;
            }
          }
        }

        &:first-child {
          padding-left: 1.25em;
        }

        &:last-child {
          padding-right: 1.25em;
        }

        & {
          padding-left: 0.25em;
          padding-right: 0.25em;
          margin-top: 2px;
        }
      }
    }

    .content-title-product {
      display: flex;
      flex-direction: row;
      font-size: 1.6rem;
      padding: 0.5em 1em;
      color: rgb(102, 102, 102);
      justify-content: flex-start;
      border-bottom: 1px solid #dddddd;
      font-size: 1rem !important;
      font-weight: 400;
      border-top: 1px solid #dddddd;
      margin-top: 1em;
    }

    .content-description-product {
      display: flex;
      flex-direction: row;
      font-size: 1.6rem;
      padding: 0.5em 1em;
      color: rgb(102, 102, 102);
      justify-content: flex-start;
      font-size: 0.75rem !important;
      font-weight: 600;
      background-color: #f5f5f5;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .dividers-pay {
      font-size: 0.75rem;
      margin-top: -7em !important;
      width: 100%;
      height: 25px;
      color: #FFF;
      position: absolute;
      padding-left: 1.25em;
      bottom: 7.85em;
      margin-left: -1em !important;
      margin: auto;
      z-index: 999;
    }

    .product-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 50px;

      & .text-price {
        width: 50%;
        color: rgb(51, 51, 51);
        font-size: 1.35rem;
        font-weight: 900;
        margin-top: -8.5em;
      }

      & div:nth-child(2) {
        width: 50%;
        background-color: green;
      }
    }

    .content-rating-spins-product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.5em;

      div {
        width: 50% !important;
        height: 25px;
        line-height: 1.4;

        &:first-child {
          color: #f0c040;
          padding-left: 0.5em;
        }

        &:nth-child(2) {
          text-align: center !important;
          background-color: #ff5d44;
          color: #fff;
          font-weight: 800;
          border-radius: 4px !important;
          border: 1px dashed rgb(139, 0, 0) !important;
          filter: drop-shadow(5px 6px 0px rgba(255, 0, 0, 0.3));
          font-size: 0.7rem !important;
          line-height: 2;
        }
      }
    }

    .content-oldprice-product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.5em;

      i.fa-arrow-trend-down {
        color: #00b16a;
        transform: scaleX(-1);
        font-size: 0.9rem !important;
        position: absolute;
        margin-top: 4px;
        margin-left: -17px;
      }

      div {
        height: 25px;

        .old-price {
          white-space: nowrap !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
          text-decoration: line-through;
          margin-top: 4em;

          &::before {
            content: "De: ";
            text-decoration: none !important;
          }
        }


        &:first-child {
          color: #c0c0c0;
          padding-left: 0.5em;
          font-size: 0.75rem;
          width: 60%;
          line-height: 1.9;

          &::before {
            text-decoration: none !important;
          }
        }

        &.promotional-badge {
          padding-left: 1em;
          line-height: 1.85 !important;
          font-size: 0.75rem !important;
          filter: drop-shadow(5px 6px 0px rgba(0, 128, 0, 0.3));
        }

        &:nth-child(2) {
          text-align: center !important;
          background-color: #93faa5;
          color: #3a6442;
          font-weight: 800;
          border-radius: 4px !important;
          border: 1px dashed #66af73;
          line-height: 1.4;
          width: 40%;
          font-size: 0.75rem;
        }
      }
    }

    &:hover {
      transition: all 1.3s ease-in-out;
      box-shadow: 0 4px 7px -4px black;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .content-image-product {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transition: transform 0.3s ease-in-out;
      transform: scale(1.02);
    }
  }
}

.product img {
  max-width: 250px;
  max-height: 188px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.gradient-border {
  --border-width: 3px;
  background: #222 !important;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
        hsl(0, 0%, 100%),
        hsl(0, 0%, 65%),
        hsl(0, 0%, 87%),
        hsl(0, 0%, 100%),
        hsl(0, 0%, 100%),
        hsl(0, 0%, 100%),
        hsl(0, 0%, 97%),
        hsl(0, 0%, 96%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 15s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#ff4c30, #e5442b), linear-gradient(#cc3c26, #b23521), linear-gradient(#992d1c, #7f2618), linear-gradient(#ff6f59, #ff816e);
    animation: rotate 30s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 1px;
    top: 1px;
    width: calc(100% - 1px);
    height: calc(100% - 31x);
    background: white;
    border-radius: 5px;
  }
}



.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem #808080 solid;
}

.button.primary {
  background-color: #f0c040;
}

/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}

/* Index.css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total>div {
  font-size: 2rem;
}

.total>div,
.total>button {
  flex: 1;
}

/* Checkout form */
form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message {
  color: green;
}

/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}

.wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}

.wrap:before,
.wrap:after {
  content: "";
  position: absolute;
}

.wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #4D6530;
  border-radius: 8px 8px 0px 0px;
}

.wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #4D6530;
  border-radius: 0px 8px 8px 0px;
}

.ribbon-ultimas {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #e9874d, 0px 21px 5px -18px rgb(0 0 0 / 60%);
  background: #ff9900;
  text-align: center;
  font-weight: 900;
  font-size: 0.85rem;
}

@media (min-width: 500px) {
  .ribbons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ribbon {
    width: 48%;
  }
}